h2 {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
}

body {
    background: linear-gradient(#9cbad6, white);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    height: 100%;
    width: 100%;
}

.new-password {
    font-size: 20px;
    font-weight: bold;
}

.btn-manage {
    padding: 5px 10px 5px 10px !important;
    margin-right: 10px;
}

.btn-add {
    margin-top: 20px;
    float: right;
}

.sort-btn {
    background-color: inherit;
    border: none;
}

.sort-active {
    color: deepskyblue;
}

.search-user-div {
    margin-top: 20px;
}

.search-user-input {
    height: 33px;
}