body {
    background-color: #014f95;
}

.error-msg {
    font-size: 18px;
    font-weight: bold;
    color: darkred;
    padding-top: 3px;
}

.tag {
    margin-right: 5px;
    float: right;
    padding-right: 10px;
    width: 55px;
    height: 25px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
}

.category {
    width: 100px;
    border-color: #8c8c8c;
    border-radius: 3px;
    font-weight: bold;
    padding-top: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.tag-video {
    color: white;
    background-color: #de1a02;
}

.tag-text {
    color: white;
    background-color: #231f20;
}

.tag-audio {
    color: white;
    background-color: #997f00;
}

.tag-photo {
    color: white;
    background-color: #014f95;
}
.tag-live {
    color: white;
    background-color: darkgreen;
}

.tag-politics {
    color: #222222;
    background-color: #dddddd;
}

.tag-justice {
    color: #222222;
    background-color: #dddddd;
}

.tag-economic {
    color: #222222;
    background-color: #dddddd;
}

.tag-sport {
    color: #222222;
    background-color: #dddddd;
}

.tag-culture {
    color: #222222;
    background-color: #dddddd;
}

.tag-area {
    color: #222222;
    background-color: #dddddd;
}

.tag-anniversary {
    color: #222222;
    background-color: #dddddd;
}

.event-btn {
    padding-top: 3px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: 0;
    /*border-top: 1px solid #dddddd;*/
    width: 100%;
    text-align: left;
    background-color: inherit;
    font-size: 14px;
}

/*.event-btn:hover {*/
    /*border: 0;*/
    /*background-color: #f3f3f3;*/
/*}*/

.custom-col {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.custom-row {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 100%;
}

.main {
    /*background-color: #dddddd;*/
    background: linear-gradient(#9cbad6, white);
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    left: 250px;
    right: 0;
    top: 0;
    bottom: 0;
}

.sidebar {
    background-color: #014f95;
    position: relative;
    left: 0;
    width: 250px;
    top: 0;
    bottom: 0;
}

.main-jumbotron {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #ffffff;
    border: 2px solid #0063b3;
    border-radius: 5px;
}
.btn-sidebar {
    width: 250px;
    text-align: left;
    background-color: inherit;
    color: white;
    margin-top: 20px;
}
.btn-sidebar:hover {
    color: white;
    background-color: #0063b3;
}
.btn-sidebar::selection {
    color: white;
    background-color: #0063b3;
}

.btn-sidebar-small {
    width: 220px;
    margin-left: 30px;
}

.sidebar-logo {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 250px;
    height: 75px;
}

.jumbo-info {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 16px !important;
    display: inline;
    font-style: italic;
}

.event-content {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #dddddd;
    text-align: justify;
    text-justify: inter-word;
}

.event-title {
    padding-left: 10px !important;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    float: left;
    height: 25px;
}

.daily-event-title {
    margin-top: 0;
    font-weight: bold;
    font-size: 26px;
    color: dimgrey;
    padding-left: 30px;
}

.export-button {
    margin-right: 10px;
    font-size: 14px;
    float: right;
    height: 30px;
    padding-top: 4px;
}

.custom-checkbox {
    display: inline-block;
    margin-right: 20px;
}

.row-checkbox {
    padding-top: 3px !important;
    margin-top: 17px;
    margin-left: 20px !important;
    height: 25px;
    float: left;
}

.select-all-checkbox {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

.search-input {
    height: 40px;
    width: 100%;
}

.search-div {
    height: 40px;
    width: 94%;
    margin: 10px 3%;
    padding: 2px;
}

.table-button {
    margin-right: 10px;
    font-size: 14px;
    float: right;
    height: 30px;
    padding-top: 4px;
}

.filter-button {
    width: 100%;
}

.views-button {
    width: 100%;
}

.special-event {
    color: darkred;
}

.view-additional-info {
    width: 100%;
}

.views-weeks-select {
    width: 100%;
}

.month-separator {
    margin-bottom: 10px;
    /*border-bottom: 1px solid #898989;*/
}

.month-week-title {
    font-weight: bold;
    text-decoration: underline;
    font-size: 26px;
    color: #0063b3;
    padding-left: 20px;
}

.filter-info {
    display: inline;
    color: dimgrey;
    font-style: italic;
    font-size: 12px;
}

.tasr-navbar {
    height: 75px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #014f95;
    z-index: 1000;
}

.sidebar-logo-admin {
    margin-top: 0;
    margin-bottom: 0;
    width: 250px;
    height: 75px;
}

.admin-main {
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#9cbad6, white);
    padding-left: 0;
    padding-right: 0;
}

.btn-sidebar-admin {
    width: 250px;
    text-align: left;
    background-color: inherit;
    color: white;
    margin-top: 10px;
    font-size: 32px;
    margin-left: 100px;
}
.btn-sidebar-admin:hover {
    color: white;
    background-color: #0063b3;
}
.btn-sidebar-admin::selection {
    color: white;
    background-color: #0063b3;
}

.admin-events-title {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 24px;
    text-decoration: underline;
}

.admin-yr-select {
    margin-left: 10px;
    margin-bottom: 20px;
    width: 150px;
    font-size: 18px;
    height: 30px;
}

.event-btn-admin {
    font-size: 18px;
    width: inherit;
}

.fa-admin {
    font-size: 18px;
}

.fa-button {
    background-color: inherit;
    border: none;
    padding: 0;
    margin-top: -5px;
}

.event-deleted {
    color: darkred;
}

.event-edited {
    color: dodgerblue;
}

.event-added {
    color: forestgreen;
}

.dates-options {
    margin-top: 20px;
}

.btn-date-option {
    margin-right: 5px;
}

.stripped-custom-row-1 {
    background-color: #f2f2f2;
}

.stripped-custom-row-0 {
    background-color: #fff;
}

#btn-export {
    display: none;
    float: right;
    margin-right: 5px;
}

#btn-export-print {
    float: right;
}

.modal-export-content {
    max-width: 500px;
}

#adding-btn {
    float: right;
}

.custom-textarea {
    font-family: "Courier New";
    font-size: 1em;
    width: 41em;
}